* {
  padding: 0px;
  margin: 0px;

}

body {
  background-color: white;
  color: black;
  justify-content: center;
  text-align: center;
  display: block;
}

#root {
  width: 70%;
  margin-bottom: 50px;
}

h1 {
  font-size: 5px;
}

.display-box {
  border: 2px solid black;
  text-align: left;
  margin: 20px;
}

ul {
  list-style: none;
  color:blue
}
